
body {
    
    background-color: rgb(4, 6, 11);
    background-image: linear-gradient(90deg, rgb(158, 38, 214), #9b8190);
   
}

.LoopButtons 
{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 200px;
    border-color: rebeccapurple;
}
 